.embla {
    position: relative;
    background-color: #f7f7f7;
    padding: 50px;
    max-width: 1670px;
    margin-left: auto;
    margin-right: auto;
}

.embla__viewport {
    overflow: hidden;
    width: 100%;
}

.embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
}

.embla__viewport.is-dragging {
    cursor: grabbing;
}

.embla__container {
    display: flex;
}

.embla__slide {
    position: relative;
    min-width: 250px;
}

