.soldOut1 {
    background: black !important;
    color: white !important;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    padding: 30px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    vertical-align: top;
    line-height: 14px;
    z-index: 2;
}
.soldOut {
    position: relative;
    background: black !important;
    color: white !important;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    font: 12px Arial, sans-serif;
}
.pointMark {
    position: relative;
    background: #8F2926 !important;
    color: white !important;
    border-radius: 50%;
    width: 63px;
    height: 63px;
    text-align: center;
    font: 12px Arial, sans-serif;
    margin-top: 5px
}