.badgeWrapper {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 5px;
}
.soldOutContainer{
    background: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 50px;
    z-index: 1;
    width: 65px;
    height: 65px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
}
.soldOutLabel{
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    margin-bottom: 0px;
    text-transform: uppercase;
}
.pointMarkContainer {
    background: rgb(143, 41, 40);
    padding: 8px;
    border-radius: 50px;
    z-index: 1;
    width: 65px;
    height: 65px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
}
.pointMarkPoints{
    color: rgb(255, 255, 255);
    font-size: 32px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 0px;
    border-bottom: 2px solid rgb(255, 255, 255);
    text-transform: uppercase;
}
.pointMarkLabel{
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0px;
    text-align: center;
    text-transform: uppercase;
}